/* Globalização de estilos */ 

.produto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.info span {
  margin-left: 10px;
  color: #555;
}

.actions a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

.actions a:hover {
  text-decoration: underline;
}
